@import 'tailwindcss';

:root,
:root[data-theme='light'] {
  --background: #f8fafc;
  --foreground: #0f172a;
  --accent: #2563eb;
  --muted: #6b7280;
  --card-background: #f9fafb;
  --border: #e5e7eb;
}

:root[data-theme='dark'] {
  --background: #0f172a;
  --foreground: #f8fafc;
  --accent: #38bdf8;
  --muted: #94a3b8;
  --card-background: #1e293b;
  --border: #334155;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card-background: var(--card-background);
  --color-border: var(--border);
  --font: var(--font);
}

@utility container {
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  @apply scroll-smooth;
}
