@import 'tailwindcss';

:root {
  --background: #efece3;
  --foreground: #000000;
  --primary: #27548a;
  --secondary: #183b4e;
  --accent: #4a70a9;
  --muted: #444444;
  --border: #888888;
  --card-background: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font: var(--font);
  --font-fira-code: var(--font-fira-code);
  --color-card-background: var(--card-background);
}

@utility container {
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  @apply scroll-smooth;
}
